.perfil{
    width: 93%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil .container{
    width: 95%;
    height: 93%;

    display: flex;
    justify-content: center;
    align-items: center;
}