.paperGraphic{
    width: 66%;
    height: 350px;

    background-color: #fff;

    border-radius: 5px;

    box-shadow: var(--box-shadow);

    margin-bottom: 25px;

    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paperGraphic .chart{
    margin-top: 25px;
    margin-left: -30px;
    font-size: 10pt;
}