.paper{
    width: 32%;
    height: 350px;

    background-color: #fff;

    border-radius: 5px;

    box-shadow: var(--box-shadow);

    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper .chartPie{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 10pt;
}