.home{
    width: 94vw;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home .content{
    width: 96%;
    height: 93%;

    margin-left: 2%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    overflow: auto;
}

::-webkit-scrollbar{
    background-color: transparent;
}
