nav{
    width: 75px;
    height: 100vh;

    background-color: #212748;
}

nav .logo{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo img{
    width: 55%;
}

nav .menu{
    width: 100%;
    height: max-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav .menu .menuIten{
    width: 100%;
    height: max-content;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav .menu .menuIten img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;

    cursor: pointer;
}