.paper{
    width: 32%;
    height: 350px;

    background-color: #fff;

    border-radius: 5px;

    box-shadow: var(--box-shadow);


    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper .chart{
    margin-top: 25px;
    font-size: 10pt;
    margin-left: -20px;
}